@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    background: hsl(212, 45%, 89%);
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: hsla(213, 35%, 12%, 0.808);
}

img {
    width: 15rem;
    border-radius: 10px;
}

div {
    background: hsl(0, 0%, 100%);
    border-radius: 10px;
    width: 17rem;
    padding-top: 0.8rem;
}

h1{
    padding: 1rem 1rem 0rem;
    line-height: 1.4rem;
}

p{
    padding: 1rem 1rem 2rem;
}

span {
    font-weight: 700;
    font-size: 1.2rem;
}